[Unit]
Description=LD48 Leaderboard Server

[Service]
ExecStart=/usr/local/bin/gunicorn --bind unix:leaderboard.sock -m 007 app:app

WorkingDirectory=/srv/ld48/server

User=root
Group=root

Restart=always

[Install]
WantedBy=multi-user.target
