[Unit]
Description=LD48 Leaderboard Server

[Service]
ExecStart=/usr/local/bin/gunicorn --bind 0.0.0.0:7048 app:app

WorkingDirectory=/srv/ld48/server

User=root
Group=root

Restart=always

[Install]
WantedBy=multi-user.target
